<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Alfredo Caldas</a></h1>
            <p>Técnico em Prótese Dentária</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Principal</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contato</a></li>

            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href={{ site.facebookurl }} class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href={{ site.baseurl }}/contact class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>
